.sidenav {
    width: auto;
    overflow-x: hidden;
    transition: 0.5s;
    width: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 3em;
}

.sidenav .side-link {
    margin: 4px 1em 4px 1em;
    padding: 16px 1em 16px 1em;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    border-radius: 2em;
}
.sidenav .side-link:hover {
    background-color: #2F373F;
    color: #F1F1F1;
}

.picture {
    max-width: 175px;
    text-align: center;
}

.name-fit {
    font-size: 11pt;
    padding-bottom: 4pt;
}

.team-type {
    margin-top: 4em;
}